doctype html
html
  head
    base(href="/")
    title GANDALF E2E Testing Fixtures
    script(type="application/javascript", src="index.min.js")
  body
    #app(version="1.1", xml:space="preserve", overflow="hidden", p-layout-box="", style="position: absolute; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;", p-layout-container="", ng-app="App", ng-controller="AppCTRL")
      div(id="", x="43.5", y="137.5", fill="#FFFFFF", stroke="#000000", stroke-miterlimit="10", width="465", height="306", p-layout-box="", style="background-color: #FFFFFF; border-style: solid; border-width: 1px; border-color: #000000; left: 43.5px; top: 137.5px; width: 465px; height: 306px; position: absolute; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;", stroke-width="1", ui-view="")
      a#wizlink(transform="matrix(1 0 0 1 43.5 116.5)", font-family="'MyriadPro-Regular'", font-size="33.2432", p-layout-box="", style="font-size: 33.2432px; color: #000000; font-family: 'MyriadPro-Regular'; left: 43.5px; top: 91.5676px; position: absolute; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;", y="91.5676", x="43.5", p-element="a", wizref="wiz.one({step:'one'})") WizLink
