div(ng-controller="WizardCTRL as vm")
	div
		button(ng-click="vm.gandalf.previousStep()") Previous
		button(ng-click="vm.gandalf.nextStep()") Next
		button(ng-click="vm.gandalf.closeWizard()") Close
	div(ui-view="")
